body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

/* for all elements the padding and border are included in height and width */

* {
  box-sizing: border-box;
}
